<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs')%>
    <body>
        <%- include ('partials/navbar.ejs')%>
        <div class="container mb-5 mt-5">
            <h2 class="text-center mt-5">Menu</h2>
            <div class="footer-container container text-center mt-5">
                <div class="row">
                    <div class="col">
                        <a href="/categorias" class="card-link">
                            <div class="card">
                                <img src="/img/CategoriaMenu.jpg"
                                    class="card-img-top"
                                    alt="Imagen de categorias">
                                <div class="card-body">
                                    <h5 class="card-title">Categorias</h5>
                                    <p class="card-text">Apartado de categorias.
                                        Aqui podras ingresar, modificar,
                                        eliminar
                                        categorias, ademas de visualizarlas
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-container container text-center mt-5">
                <div class="row">
                    <div class="col">
                        <a href="/marcas" class="card-link">
                            <div class="card">
                                <img src="/img/MarcasMenu.webp"
                                    class="card-img-top" alt="Imagen de marcas">
                                <div class="card-body">
                                    <h5 class="card-title">Marcas</h5>
                                    <p class="card-text">Apartado de marcas.
                                        Aqui
                                        podras ingresar, modificar, eliminar
                                        marcas, ademas de visualizarlas</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/juguetes" class="card-link">
                            <div class="card">
                                <img src="/img/JuguetesMenu.jpg"
                                    class="card-img-top"
                                    alt="Imagen de juguete">
                                <div class="card-body">
                                    <h5 class="card-title">Juguetes</h5>
                                    <p class="card-text">Apartado de juguetes.
                                        Aqui
                                        podras ingresar, modificar, eliminar
                                        juguetes, ademas de visualizarlos</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/proveedores" class="card-link">
                            <div class="card">
                                <img src="/img/ProveedoresMenu.jpg"
                                    class="card-img-top"
                                    alt="Imagen de proveedores">
                                <div class="card-body">
                                    <h5 class="card-title">Proveedores</h5>
                                    <p class="card-text">Apartado de
                                        proveedores.
                                        Aqui podras ingresar, modificar,
                                        eliminar
                                        proveedores, ademas de visualizarlos</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-container container text-center mt-5">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col">
                        <a href="/inventario" class="card-link">
                            <div class="card">
                                <img src="/img/InventarioMenu.webp"
                                    class="card-img-top"
                                    alt="Imagen de inventario">
                                <div class="card-body">
                                    <h5 class="card-title">Inventario</h5>
                                    <p class="card-text">Apartado de inventario.
                                        Aqui podras ingresar, modificar,
                                        eliminar
                                        items del inventario, ademas de
                                        visualizarlo</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
    <%- include ('partials/footer.ejs')%>
</html>
